.LandingPage {
    background: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    height: 500px;
    width: 250px;
    background: white;
    
}