.Dashboard{
    height: calc(100vh - 72px);
    width: 100vw;
    background: #3b3b3b;
    /* background: #3e3e3e; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.dashboard-content{
    background: #3b3b3b;
    display: flex;
    width: 1000px;
    margin: 60px;
}

.column{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar { 
    display: none; 
}
