.Sidebar{
    height: 100%;
    /* animation: slidein 100ms ease-in; */
    width: 200px;
    background: #3b3b3b;
    display: flex;
    margin: 0;
    flex-direction: column;
    border-right: 1px solid grey;
    /* position: fixed; */
}
#new{
    background: royalblue;
    color: lightgrey;
    margin-bottom: 12px;
  }
.line{
    height: 1px;
    width: 100%;
    background: grey;
}
.buttons{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.buttons button{
    width: 85%;
    margin-top: 12px;
    height: 40px;
    font-weight: 400;
    background: #2b2b2b;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    border-radius: 3px;
    letter-spacing: 1px;
    color: lightgrey;
}

.buttons button:last-child{
    margin: 12px 0;
}

.buttons button:hover{
    opacity: .7;
}
.buttons button:focus{
    outline: none;
}
.buttons button:active{
    opacity: 1;
}




@media(max-width: 600px){
    .Sidebar{
        display: none;
    }
}
