.Header{
    height: 70px;
    width: 100vw;
    background: #3b3b3b;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    width: 450px;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchbar{
    margin-bottom: 3px;
    height: 100%;
    width: 100%;
    border-radius: 9px;
    background: #2b2b2b;
    border: none;
    font-size: 22px;
    padding: 0 10px;
    background-size: 40px;
    /* background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-repeat: no-repeat;
    background-position: right; */
}

.logo{
    display: flex;
    justify-content: center;
    width: 200px;
    color: lightgrey;
    font-size: 25px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-button{
    margin: 15px;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.circle{
    height: 5px;
    width: 5px;
    margin: 1px;
    border-radius: 5px;
    background: lightgrey;
}

.account-dropdown{
    width: 180px;
    border-radius: 4px;
    position: fixed;
    right: 24px;
    top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgb(40, 40, 40);
    border: 1px solid rgb(29, 29, 29);
    box-shadow: 2px 2px 10px rgba(7, 7, 7, .7);
}

.dropdown-btn{
    text-align: left;
    padding-left: 9px;
    margin: 2px 0;
    height: 30px;
    background: none;
    border: none;
    font-size: 15px;
    color: darkgrey;
}
.dropdown-btn:hover{
    background: rgb(50, 50, 50);
}

.dropdown-btn:active{
    background: rgb(40, 40, 40);
}
@media(max-width: 600px){
    .Header{
        height: 50px;
        justify-content: center;
    }
    .logo{
        display: none;
    }
    .logout-btn{
        display: none;
    }
}