.AccountModal{
    width: 350px;
    display: flex;
    border-radius: 4px;
    justify-content: space-evenly;
    border: 1px solid rgb(29, 29, 29);
    flex-direction: column;
    align-content: center;
    background: rgb(40, 40, 40);
    box-shadow: 2px 2px 10px rgba(7, 7, 7, .7);

}
.modal-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-premium-modal {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.update-password-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone-input-container{
    display: flex;
    flex-direction: column;

}
.phone-input {
    border: none;
    background: rgb(77, 77, 77);
    border-radius: 5px;
    color: lightgrey;
    font-size: 18px;
}
.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
.subscription{
    display: flex;
    color: grey;
    margin: 3px 0;
    width: 260px;
}

.phone-number{
    display: flex;
    color: grey;
    margin: 3px 0;
    width: 260px;

}

.credits{
    display: flex;
    color: grey;
    margin: 3px 0;
    width: 260px;

}

.username{
    color: grey;
    margin: 3px 0;
    font-size: 18px;
    width: 260px;

}

.firstname{
    color: grey;
    margin: 3px 0;
    font-size: 18px;
    width: 260px;

}

.lastname{
    color: grey;
    margin: 3px 0;
    font-size: 18px;
    width: 260px;

}

.format{
    color: grey;
    margin: 0;
    font-size: 18px;
    width: 260px;

}

.change-password-btn{
    height: 30px;
    width: 115px;
    margin: 5px;
    border: none;
    background: rgb(84, 84, 84);
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.change-password-button{
    height: 20px;
    width: 115px;
    margin: 5px;
    border: none;
    background: royalblue;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.get-premium-btn{
    height: 37px;
    width: 125px;
    margin: 8px;
    border: none;
    z-index: 10;
    background: royalblue;
    border-radius: 6px;
    color: white;
    font-weight: 600;
}

.take-money-btn{
    width: 100%;
}

.side-by-side-btns{
    display: flex;
}
.back-btn{
    height: 30px;
    width: 45px;
    margin: 0px 5px 0 0;
    border: none;
    background: rgb(84, 84, 84);
    border-radius: 4px;
    color: white;
    font-weight: 600;
}