.modal-background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(80, 80, 80, .4)
}

.NoteModal {
    width: 550px;
    display: flex;
    flex-direction: column;
    background: rgb(40, 40, 40);
    justify-content: space-between;
    margin-bottom: 250px;
}

.title-input {
    margin: 5px;
    height: 45px;
    border: none;
    font-size: 35px;
    width: 98%;
    background: rgb(40, 40, 40);
    caret-color: darkgrey;
    color: darkgrey;

}

.title-input::placeholder{
    color: darkgrey;
}
.content-input {
    margin: 5px;
    border: none;
    font-size: 20px;
    width: 98%;
    background: rgb(40, 40, 40);
    caret-color: darkgrey;
    color: darkgrey;
    height: 120px;
}

.content-input::placeholder{
    color: darkgrey;
}

.note-btns {
    display: flex;
    margin: 7px;
    justify-content: space-between
}
.note-btns button{
    margin: 2px;
    height: 25px;
    border: 1px solid darkgrey;
    border-radius: 1px;
    background: rgba(0,0,0,0);
    color: darkgrey;
}   