.Todo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    word-wrap: break-word;
    border-radius: 2px;
    margin: 5px;
    border: 1px solid rgb(121, 121, 121);
    background: rgb(43, 43, 43);
    box-shadow: 1px 1px 5px 1px rgba(10, 10, 10, .1);
}

.Todo h3{
    margin: 1px;
}

.todo-contents{
    margin: 7px;
    padding-bottom: 0px;
}
.todo-buttons button{
    height: 25px;
    width: 50px;
    background: rgba(10, 10, 10, 0);
    border: 1px solid darkgrey;;
    color: darkgrey;;
    margin: 3px;
    padding: 0;  
    opacity: 0;
}

.todo-buttons{
    display: flex;
    justify-content: flex-end;
}
.Todo:hover button{
    opacity: 1;
    display: flex;
    justify-content: center;
}

.todo-title{
    background: rgb(31, 31, 31);
    height: 30px;
    margin: 0px;
}

.todo-title h2{
    margin: 0 0 5px 0;
    color: darkgrey;
    text-align: center;
}

.list-item{
    height: 40px;
    width: 97%;
    background: grey;
    border-radius: 1px;
    margin: 3px;
    padding: 0;
    display: flex;
    align-items: center;
    color: rgba(15,15,15,.7);
}

.list-item p{
    font-size: 20px;
    margin-left: 5px;
}

.todoListDefault{
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.todoListScroll{
    height: 300px;
    overflow: auto;
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

@media(max-width: 1200px){
    .Todo{
        width: 400px;
    }
}

@media(max-width: 600px){
    .Todo{
        width: 250px;
    }
}

