.App{
  height: 100vh;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background: #3b3b3b;
}

.app-body{
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

*:focus{
  outline: none;
}