.modal-background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(80, 80, 80, .4)
}

.ReminderModal {
    height: 280px;
    width: 750px;
    display: flex;
    flex-direction: column;
    background: rgb(40, 40, 40);
    justify-content: space-between;
    margin-bottom: 250px;
}

.title-input {
    margin: 5px;
    height: 45px;
    border: none;
    font-size: 35px;
    width: 98%;
    background: rgb(40, 40, 40);
    caret-color: darkgrey;
    color: darkgrey;

}

.title-input::placeholder{
    color: darkgrey;
}

.reminder-btns {
    display: flex;
    margin: 7px;
    justify-content: space-between
}
